* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 65%;
  height: 80%;
  margin: 0 auto;

  h1 {
    text-align: center;
    padding-top: 2%;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    padding-bottom: 2%;
    color: #252d40;
    font-weight: 600;
  }
  .cards-container {
    cursor: pointer;
    max-width: 880px;
    margin: 0 auto;
  }
  .card {
    float: left;
    margin: 10px;
    width: 200px;
    height: 200px;
    opacity: 1;

    .front {
      position: absolute;
      transform: perspective(600px) rotateY(0deg);
      width: 200px;
      height: 200px;
      border: 2px solid #3f4c6b;
      background: #3f4c6b; /* Old browsers */
      background: -moz-linear-gradient(top, #3f4c6b 0%, #3f4c6b 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #3f4c6b 0%, #3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #3f4c6b 0%, #3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f4c6b', endColorstr='#3f4c6b', GradientType=0); /* IE6-9 */
      -webkit-box-shadow: 5px 5px 5px 0 rgba(37, 45, 64, 1);
      -moz-box-shadow: 5px 5px 5px 0 rgba(37, 45, 64, 1);
      box-shadow: 5px 5px 5px 0 rgba(37, 45, 64, 1);

      backface-visibility: hidden;
      transition: transform 0.5s linear 0s;
    }

    .back {
      position: absolute;
      transform: perspective(600px) rotateY(180deg);
      width: 200px;
      height: 200px;
      backface-visibility: hidden;
      transition: transform 0.5s linear 0s;
      background-size: cover;
    }

    &.selected > .front {
      transform: perspective(600px) rotateY(-180deg);
    }
    &.selected > .back {
      transform: perspective(600px) rotateY(0deg);
    }

    &.matched {
      opacity: 0;
      transform: scale(0.3);
      transition: all 1s;
      transition-delay: 0.5s;
      pointer-events: none;
    }

  }
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-left: -15%;
  margin-top: 10%;
}

a {
  text-decoration: none;
}

.popup .popuptext {
  visibility: hidden;
  width: 400px;
  line-height: 56px;
  background-color: #252d40;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  right: 20%;
  font-size: 24px;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
